.py-12 {
    background-color: #b27abe(138, 117, 158);
}

.font-semibold {
    background-color: rgb(172, 183, 179);

}

.title {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(35, 24, 115);
}



@keyframes clr {
    0% {
        background-image: url('/images/imgcon1.jpg');
    }

    20% {
        background-image: url('/images/imgcon4.jpg');
    }

    40% {
        background-image: url('/images/imgcon2.jpg');
    }

    60% {
        background-image: url('/images/imgcon3.jpg');
    }

    80% {
        background-image: url('/images/imgcon5.jpg');
    }

    100% {
        background-image: url('/images/imgcon9.jpg');
    }

}

.imgcon1,
.imgcon4,
.imgcon2,
.imgcon3,
.imgcon5,
.imgcon9 {
    background-size: contain;
    width: 100px;
}


.conteiner {
    margin-top: 10px;
    width: 1200px;
    height: 500px;
    display: grid;
    gap: 10px;
    /*grid-template-areas:
    "n c c c "
    "n c c c "
    "f f f f ";*/

}

.con {
    margin-left: -170px;
    grid-area: c;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
    animation: clr 50s infinite;
}

.nav {
    padding-left: 10px;
    padding-top: 10px;
    grid-area: n;
    width: 300px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;

    background-color: rgb(167, 136, 171);
    background: linear-gradient(rgb(209, 184, 211), rgb(123, 81, 129));
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: rgb(39, 12, 118);


}

.futer {
    grid-area: f;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
    background-color: rgb(167, 136, 171);
    background: linear-gradient(rgb(209, 184, 211), rgb(123, 81, 129));
    text-align: center;

}

.h2 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    width: 550px;
    text-align: justify;
}

.h4 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(35, 24, 115);
    text-align: center;

}

.h1 {
    font-size: 20px;
    color: #9b3d58;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}


.h3 {
    font-size: 58px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(35, 24, 115);
}

.vit {
    width: 1700px;
    height: 400px;
    display: flex;
}

.imgs {

    width: 450px;
    background-size: contain;
}

.navshop {
    width: 1350px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(35, 24, 115);
    background: linear-gradient(rgb(209, 184, 211), rgb(123, 81, 129));

}

.containers {
    margin-left: 20px;
}